# Sesi 2 - Conditions, Control Flow & Looping

## Conditional 

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b 
- Biasa dipakai seperti di "if statements" dan loops 

Dalam Python, if statements adalah bagaimana kalian melakukan desicion-making.

```
if condition:
    action statement
```

Cuma jalan jika condition == True

## Introduction to the if Statement

In [1]:
if True:
    print("Code ini jalan")

Code ini jalan

In [2]:
if False:
    print("Code ini ga jalan")

In [3]:
if "saya" in "Saya mau makan":
    print("iya, makan")

In [5]:
#"if x:" sama kayak "if x != 0"
x = 0
y = 5

if x < y:                            # Truthy
    print('jalan 1')

if y < x:                            # Falsy
    print('jalan 2')

if x:                                # Falsy 
    print('jalan 3')

if x != 0:                           # Falsy 
    print('jalan 3.5')

if y:                                # Truthy
    print('jalan 4')

if 'aul' in 'grault':                # Truthy
    print('jalan 5')

if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('jalan 6')

# kalo ada string, dinilai True
# kalo empty string, dinilai False
if "":                               # Falsy
    print("jalan 7")

if "ada":                            # Truthy
    print("jalan 8")

jalan 1
jalan 4
jalan 5
jalan 8

## Grouping Statements: Indentation and Blocks

**Python: It's All About the Indentation**

```
if <expr>:
    <statement>
    <statement>
    ...
    <statement>
<following_statement>
```

In [6]:
if False:
    print("ga jalan")

    print("code block di dalem if")
print("code di luar if")

code di luar if

In [8]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [7]:
# code block bisa nested
if True:
    print("jalan 1")
    if True:
        print("jalan 2")

jalan 1
jalan 2

In [10]:
if 'foo' in ['foo', 'bar', 'baz']:        
    print('Outer condition benar')          # jalan

    if 10 > 20:                           
        print('Inner condition 1')          # tidak jalan

    print('Antara inner conditions')        # jalan

    if 10 < 20:                          
        print('Inner condition 2')          # jalan 

        if "o" in "foo":
            print("inner condition lv 2")   # jalan

    print('Outer condition selesai')        # jalan    
print('After outer condition')              # jalan

Outer condition benar
Antara inner conditions
Inner condition 2
inner condition lv 2
Outer condition selesai
After outer condition

## The else and elif Clauses

```
if <expr>:
    <statement(s)>
else:
    <statement(s)>
```

In [11]:
if True:
    print("cond 1")
else:
    print("alternatif 1")
print("langsung ke sini")

cond 1
langsung ke sini

In [12]:
if False:
    print("cond 1")
else:
    print("alternatif 1")

alternatif 1

In [13]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [14]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [12]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

### if, elif, and else
```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>
```

In [15]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")
print("selalu jalan")

uang tidak cukup
selalu jalan

In [14]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [17]:
if 'a' in 'bar':    #True
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [62]:
# Nested
age = 24
gender = 'P'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

## One-Line if Statements
```
- if <expr>: <statement>

- if <expr>: <statement_1>; <statement_2>; ...; <statement_n>
```

Pada Python, statements pada poin kedua akan di-execute seluruhnya

Meskipun semua ini berfungsi, dan interpreter mengizinkannya, umumnya tidak disarankan karena menyebabkan readability yang buruk, terutama untuk pernyataan if yang kompleks.

In [18]:
if True: print("cond 1"); print("cond 2");

cond 1
cond 2

In [18]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [19]:
if 'z' in 'foo': print('1'); print('2'); print('3')

else: print('4')

4

In [20]:
if False: print("alternatif 1")
elif False: print("alternatif 2")
else: print("alternatif 3")

alternatif 3

In [21]:
x = 2

if x == 1: print('alternatif 1.1'); print('alternatif 1.2'); print('alternatif 1.3')
elif x == 2: print('alternatif 2.1'); print('alternatif 2.2')
else: print('alternatif 3')

alternatif 2.1
alternatif 2.2

## Ternary 

Dalam bentuknya yang paling sederhana, sintaks dari conditional expression adalah sebagai berikut:
```
<expr1> if <conditional_expr> else <expr2>
```

In [27]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [28]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [24]:
"a" if False else "b"

'b'

In [29]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [25]:
age = 25
s = "teen" if age < 21 else "adult"
s

'adult'

In [26]:
age = 12
if age < 21:
    s = "teen"
else:
    s = "adult"
s

'teen'

In [33]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'
# m = a if a > b else b

'no'

## Pass Statement

Pass digunakan sebagai placeholder untuk membuat interpreter berjalan dalam situasi apa pun di mana pernyataan diperlukan secara sintaksis, tetapi kalian tidak benar-benar ingin melakukan apa pun

In [29]:
if True:
    print("cond 1")

cond 1

In [28]:
if True: 
    pass  # ga ngapa2in
print('foo')

foo

## While Loop

In [30]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [36]:
n = 5
while n > 0:
    print("terus")
    n -= 1
    print(n)

terus
4
terus
3
terus
2
terus
1
terus
0

In [37]:
n = 1
while n < 11:
    print(n)
    n += 1
print("stop")

1
2
3
4
5
6
7
8
9
10
stop

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## Break and Continue Statements

In [40]:
while True:
    print("di dalem while")
    break
print("di luar while")

di dalem while
di luar while

In [41]:
n = 0
while n < 5:
    n += 1
    print(n)
print("n terakhir", n)
print("stop")

1
2
3
4
5
n terakhir 5
stop

In [48]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
print("n terakhir", n)
print("stop")

1
2
n terakhir 3
stop

In [47]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)
print("n terakhir", n)
print("stop")

1
2
4
5
n terakhir 5
stop

In [49]:
n = 0
while True:
    n+=1
    if n == 5:
        break
    print(n)
print("n terakhir", n)
print("stop")

1
2
3
4
n terakhir 5
stop

In [50]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print("n terakhir", n)
print('Loop ended.')

4
3
n terakhir 2
Loop ended.

In [51]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print("n terakhir", n)
print('Loop ended.')

4
3
1
0
n terakhir 0
Loop ended.

### The Else Clause

In [56]:
n = 0
while n < 5:
    n += 1
    print(n)
else:
    print('Loop selesai.')

1
2
3
4
5
Loop selesai.

In [59]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
else:
    print('Loop Selesai.')

1
2

### Infinite Loops

In [60]:
while True:
    print('Hacktiv8')
    break   #kalo tanpa break jadi infinite

Hacktiv8

### Nested While Loops

In [12]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [63]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0))  # jalan 1.1; jalan 1.2

    b = ["baz", "qux"]  # jalan 2.1; jalan 2.2

    while len(b):  # jalan 3.1; jalan 3.2
        print(">", b.pop(0))  # jalan 3.1.1; # jalan 3.1.2; jalan 3.2.1; jalan 3.2.2
    else:
        print("> inner loop selesai")

else:
    print("outer loop selesai")

foo
> baz
> qux
> inner loop selesai
bar
> baz
> qux
> inner loop selesai
outer loop selesai

### One-Line While Loops

In [13]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## For Loop

In [64]:
["foo", "bar"]

['foo', 'bar']

In [65]:
[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [66]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [68]:
for i in ["foo", "bar"]:
    print(i)

foo
bar

### Iterating Through a Dictionary

In [69]:
d = {"foo": 1, "bar": 2, "baz": 3}

for k in d:
    print(k)

print("=" * 8)

for k in d.keys():
    print(k)

print("=" * 8)

for v in d.values():
    print(v)

print("=" * 8)

for i in d.items():
    print(i)

print("=" * 8)

for k, v in d.items():
    print(v, k)

foo
bar
baz
========
foo
bar
baz
========
1
2
3
========
('foo', 1)
('bar', 2)
('baz', 3)
========
1 foo
2 bar
3 baz

### Range()

range(start, stop, step)

In [72]:
range(5)

range(0, 5)

In [73]:
list(range(5))

[0, 1, 2, 3, 4]

In [74]:
range(10, 2)

range(10, 2)

In [76]:
list(range(10, 2))

[]

In [77]:
range(0, 10, 2)

range(0, 10, 2)

In [80]:
list(range(0, 10, 2)) # dimulai dari 0 lompat 2 sampai 10 (tidak termasuk)

[0, 2, 4, 6, 8]

In [78]:
range(10, 2, -1)

range(10, 2, -1)

In [79]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [81]:
for i in range(15, 0, -3): # dimulai dari 15 lompat -3 sampai 0 (tidak termasuk)
    print(i)

15
12
9
6
3

In [82]:
for i in "range":
    print(i)

r
a
n
g
e

In [83]:
"range"[0]

'r'

#### Break and Continue Statements

In [20]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [21]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

#### The else Clause

In [84]:
for i in ["foo", "bar", "baz", "qux"]:
    print(i)
else:
    print("loop selesai")  # Will execute

foo
bar
baz
qux
loop selesai

In [90]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        break
    print(i)
else:
    print("loop selesai")  # Will not execute

foo

In [91]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)
else:
    print("loop selesai")

foo
qux
loop selesai

In [92]:
# Dinamis
while True:
    temp = input("Input temperatur yang ingin dikonversi, eg. 45F, 120C: ")
    degree = int(temp[:-1])
    i_convertion = temp[-1].upper()

    if i_convertion == "C":
        o_convertion = "F"
        result_calc = int(round((9 * degree) / 5 + 32))
        break
    elif i_convertion == "F":
        o_convertion = "C"
        result_calc = int(round((degree - 32) * 5 / 9))
        break
    else:
        print("Masukkan input yang benar")

result = f"{result_calc}{o_convertion}"

print("Temperaturnya adalah", result)

Masukkan input yang benar
Temperaturnya adalah 248F

In [95]:
while True:
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

hnhvmnm
stop

## Truthy and Falsy

In [96]:
print(bool(True))
print(bool(False))

print("=" * 8)

print(bool("a"))
print(bool(""))

print("=" * 8)

print(bool(5))
print(bool(0))

print("=" * 8)

print(bool(["a", "b"]))
print(bool([]))

print("=" * 8)

print(bool(None))

True
False
========
True
False
========
True
False
========
True
False
========
False